<a href="https://colab.research.google.com/github/heart721a/Introduction-Data-Science/blob/master/week2_homework_google_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [0]:
import pandas as pd

In [6]:
pd.Series([10, 20, 30])

0    10
1    20
2    30
dtype: int64