<a href="https://colab.research.google.com/github/heart721a/Introduction-Data-Science/blob/master/week6_a106260020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#work1

salary=input("your salary is ")
print(type(salary))
deposit=input("your deposit is ")
print("credit card ans:", int(salary) >=40000 or int(deposit)>=500000)

your salary is 34000
<class 'str'>
your deposit is 600000
credit card ans: True

In [0]:
#work2

num=input("your number:")
ans=int(num) % 2
print(ans == 1)

#餘數=1時，答案是true，所以奇數會是true
#雙數就是false

your number:10
False

In [0]:
#work3